<!-- ==== ABOUT ==== -->
<section class="about">
    <div class="container content">
        <div class="section-header">
            <h2 class="wow animate__animated animate__fadeInDown" data-wow-delay="350ms" data-wow-duration="2s">
                Sobre</h2>
            <p class="wow animate__animated animate__fadeInLeftBig" data-wow-delay="350ms" data-wow-duration="2s">
                Construindo Carreiras de Código em um Mundo de Inovação: O Seu Portal de Oportunidades na Programação!
            </p>
        </div>

        <div class="about-content">

            <article class="about-article wow animate__animated animate__fadeInLeft" data-wow-delay="250ms"
                data-wow-duration="2s">
                <div class="article-image">
                    <img src="{{ asset('assets/images/about/about-1.png') }}" alt="About Image">
                </div>
                <div class="article-body">
                    <h2>Ampla Seleção de Vagas</h2>
                    <p>Navegue por centenas de oportunidades de emprego em programação de diversas empresas.</p>
                </div>
            </article>

            <article class="about-article wow animate__animated animate__fadeInUp" data-wow-delay="250ms"
                data-wow-duration="2s">
                <div class="article-image">
                    <img src="{{ asset('assets/images/about/about-2.png') }}" alt="About Image">
                </div>
                <div class="article-body">
                    <h2>Ferramentas de Busca Avançadas</h2>
                    <p>Utilize nossas ferramentas de busca avançadas para filtrar vagas por tecnologias, localização e mais.</p>
                </div>
            </article>

            <article class="about-article wow animate__animated animate__fadeInRight" data-wow-delay="250ms"
                data-wow-duration="2s">
                <div class="article-image">
                    <img src="{{ asset('assets/images/about/about-3.png') }}" alt="About Image">
                </div>
                <div class="article-body">
                    <h2>Atualizações em Tempo Real</h2>
                    <p>Receba atualizações em tempo real sobre as vagas mais recentes que correspondem ao seu perfil.</p>
                </div>
            </article>

        </div>
    </div>
</section>