<!-- ==== FOOTER ==== -->
<footer style="background-image: url({{ asset('assets/images/bg-footer.png') }});">
    <div class="glass-footer">
        <div class="container">
            <div class="footer-content">
                <article class="footer-site-details wow animate__animated animate__fadeInUp" data-wow-delay="250ms"
                    data-wow-duration="2s">
                    <h2 class="footer-article-header">ADevWork</h2>
                    <img src="{{ asset('assets/images/logo.png') }}" alt="Logo">
                    <p>Explore Nossas Oportunidades: Encontre a Vaga de Programação Perfeita para Impulsionar Sua Carreira!</p>
                </article>
                <article class="useful-links wow animate__animated animate__fadeInUp" data-wow-delay="450ms"
                    data-wow-duration="2s">
                    <h2 class="footer-article-header">Links úteis</h2>
                    <ul>
                        <li><a href="#">Ofertas do dia</a></li>
                        <li><a href="#">Histórico</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Ajuda</a></li>
                    </ul>
                </article>
                <article class="footer-newsletter wow animate__animated animate__fadeInUp" data-wow-delay="650ms"
                    data-wow-duration="2s">
                    <h2 class="footer-article-header">Newsletter</h2>
                    <p>Informe seu email para receber nossas promoções</p>
                    <form action="" method="post">
                        <input type="email" name="email" placeholder="Informe seu email:">
                        <button class="btn btn-primary">Quero ser informado</button>
                    </form>
                </article>
            </div>
            <div class="copyright">
                <p>
                    <small>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        Todos os direitos reservados
                        <strong>
                            <a href="https://www.linkedin.com/in/adonay-douglas-2095291ab/" target="_blank">
                                <strong>Adonay Douglas</strong>
                            </a>
                        </strong> <i class="icon-heart" aria-hidden="true"></i>
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>